Repository rexerwang/min-kit: changes, and which Codecov flags are due for each by the changed paths.
All: components, extends, helper, hooks, shared, store

codecov.yml:

component_management:
  individual_components:
    - component_id: components # this is an identifier that should not be changed
      name: components # this is a display name, and can be changed freely
      paths:
        - packages/components/
    - component_id: extends
      name: extends
      paths:
        - packages/extends/
    - component_id: helper
      name: helper
      paths:
        - packages/helper/
    - component_id: hooks
      name: hooks
      paths:
        - packages/hooks/
    - component_id: shared
      name: shared
      paths:
        - packages/shared/
    - component_id: store
      name: store
      paths:
        - packages/store/

chore(jest): drop build script
  packages/jest/package.json
Due: none

ci: codeql
  .github/workflows/codeql.yml
Due: none

docs: badges in readme
  README.md
Due: none

test(shared): add specs
  packages/jest/config.js
  packages/shared/src/__tests__/depth.test.ts
  packages/shared/src/__tests__/px.test.ts
  packages/shared/src/__tests__/route.test.ts
  packages/shared/src/__tests__/sleep.test.ts
  packages/shared/src/__tests__/utm.test.ts
Due: shared

test: more components specs
  .eslintrc
  .eslintrc.js
  packages/components/src/__tests__/__snapshots__/icon.test.tsx.snap
  packages/components/src/__tests__/debugger/__snapshots__/ui.test.tsx.snap
  packages/components/src/__tests__/debugger/helper.test.ts
  packages/components/src/__tests__/debugger/hooks.disable.test.ts
  packages/components/src/__tests__/debugger/hooks.test.ts
  packages/components/src/__tests__/debugger/index.test.ts
  packages/components/src/__tests__/debugger/ui.test.tsx
  packages/components/src/__tests__/icon.test.tsx
  packages/components/src/__tests__/image.test.tsx
  packages/jest/config.js
  packages/jest/package.json
  pnpm-lock.yaml
Due: components

chore(release): v0.5.1
  CHANGELOG.md
  miniapp/template/package.json
  package.json
  packages/components/package.json
  packages/extends/package.json
  packages/helper/package.json
  packages/hooks/package.json
  packages/jest/package.json
  packages/shared/package.json
  packages/store/package.json
Due: components, extends, helper, hooks, shared, store

fix(helper): fix typings
  packages/helper/runtime/config-chain/ConfigChain.ts
  packages/helper/runtime/config-chain/PluginChain.ts
  packages/helper/runtime/config-chain/SubPackageChain.ts
  packages/helper/runtime/config-chain/WeChatChain.ts
  packages/helper/runtime/config-chain/index.ts
Due: helper

ci: lint & dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

build: lint
  package.json
Due: none

ci: trigger on push
  .github/workflows/ci.yml
Due: none

docs(example): readme
  packages/example/README.md
Due: none

test: components
  .eslintrc.js
  packages/components/src/__tests__/__debugger__/__snapshots__/ui.test.tsx.snap
  packages/components/src/__tests__/__debugger__/helper.test.ts
  packages/components/src/__tests__/__debugger__/hooks.test.ts
  packages/components/src/__tests__/__debugger__/index.test.ts
  packages/components/src/__tests__/__debugger__/ui.test.tsx
  packages/components/src/__tests__/__snapshots__/navigation-bar.test.tsx.snap
  packages/components/src/__tests__/__snapshots__/text.test.tsx.snap
  packages/components/src/__tests__/debugger/hooks.disable.test.ts
  packages/components/src/__tests__/debugger/hooks.test.ts
  packages/components/src/__tests__/image.test.tsx
  packages/components/src/__tests__/navigation-bar.test.tsx
  packages/components/src/__tests__/text.test.tsx
  packages/jest/config.js
  packages/jest/config/fixtures.js
  packages/jest/config/globals.js
  packages/jest/config/setupAfterEnv.js
Due: components

test: use happy-dom instead of jsdom
  packages/components/src/__tests__/__debugger__/__snapshots__/ui.test.tsx.snap
  packages/jest/config.js
  packages/jest/package.json
  pnpm-lock.yaml
Due: components

test: specs & config
  packages/components/src/__tests__/__debugger__/hooks.test.ts
  packages/components/src/__tests__/__debugger__/index.test.ts
  packages/components/src/__tests__/image.test.tsx
  packages/components/src/__tests__/portal.test.tsx
  packages/jest/package.json
  packages/jest/utils.ts
  pnpm-lock.yaml
  tsconfig.root.json
Due: components

chore: jest config
  .github/workflows/ci.yml
  packages/components/src/__tests__/portal.test.tsx
  packages/jest/config.js
  packages/jest/config/setupAfterEnv.js
  packages/jest/config/taro-jest/README.md
  packages/jest/config/taro-jest/babel-transformer.js
  packages/jest/config/taro-jest/index.js
  packages/jest/config/taro-jest/initConfig.js
  packages/jest/config/taro-jest/jest.setup.js
  packages/jest/config/taro-jest/runtime/taro-h5.js
Due: components

chore: tests & config
  .eslintrc.js
  packages/components/src/__tests__/__portal__/mount-portal-thrown.test.tsx
  packages/components/src/__tests__/__portal__/mount-portal.test.tsx
  packages/components/src/__tests__/__snapshots__/modal.test.tsx.snap
  packages/components/src/__tests__/modal.test.tsx
  packages/components/src/__tests__/portal.test.tsx
  packages/jest/config/fixtures.js
  pnpm-lock.yaml
Due: components

test: components specs
  packages/components/src/__tests__/__debugger__/__snapshots__/ui.test.tsx.snap
  packages/components/src/__tests__/__debugger__/helper.test.ts
  packages/components/src/__tests__/__debugger__/ui.test.tsx
  packages/components/src/__tests__/__snapshots__/gesture.test.tsx.snap
  packages/components/src/__tests__/__snapshots__/share.test.tsx.snap
  packages/components/src/__tests__/gesture.test.tsx
  packages/components/src/__tests__/image.test.tsx
  packages/components/src/__tests__/share.test.tsx
  packages/components/src/gesture/gesture.ts
  packages/jest/config.js
Due: components

test: jest config & specs of extends/*
  packages/extends/jest.config.js
  packages/extends/package.json
  packages/extends/src/__tests__/logger.test.ts
  packages/extends/src/logger/Logger.ts
  packages/extends/src/logger/index.ts
  packages/jest/config.js
  packages/jest/config/globalSetup.js
  packages/jest/utils.ts
  pnpm-lock.yaml
Due: extends

test: fix specs
  packages/shared/src/__tests__/attempt.test.ts
  tsconfig.root.json
Due: shared

fix: use `moduleResolution: bundler` & fix imports and typings
  packages/components/src/__tests__/__debugger__/hooks.test.ts
  packages/components/src/__tests__/__debugger__/ui.test.tsx
  packages/components/src/__tests__/__portal__/mount-portal.test.tsx
  packages/components/src/__tests__/icon.test.tsx
  packages/components/src/__tests__/image.test.tsx
  packages/components/src/__tests__/modal.test.tsx
  packages/components/src/__tests__/share.test.tsx
  packages/example/src/assets/polyfill/index.ts
  packages/extends/src/__tests__/logger.test.ts
  tsconfig.root.json
Due: components, extends

fix(extends/logger): export `LoggerOption`
  packages/extends/src/logger/index.ts
Due: extends

chore: rc files
  .eslintrc.js
  packages/example/.editorconfig
Due: none

feat(helper): add `taro-env.d.ts` for taro shims
  packages/example/types/global.d.ts
  packages/helper/build.config.ts
  packages/helper/package.json
  packages/helper/types/shims.d.ts
  packages/helper/types/taro-env.d.ts
Due: helper

ci: release
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  scripts/release
Due: none

chore(release): v0.5.2
  package.json
  packages/components/package.json
  packages/example/package.json
  packages/extends/package.json
  packages/helper/package.json
  packages/hooks/package.json
  packages/jest/package.json
  packages/shared/package.json
  packages/store/package.json
Due: components, extends, helper, hooks, shared, store

chore: fix ci.release & drop CHANGELOG
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

fix(extends): fix logger report message
  packages/extends/src/__tests__/logger.test.ts
  packages/extends/src/logger/Logger.ts
  packages/jest/config/fixtures.js
Due: extends

refactor(extends): rename `createRewardedVideoAd`
  packages/extends/src/createRewardedVideoAd.ts
  packages/extends/src/index.ts
Due: extends

chore: changelogithub config
  package.json
Due: none

test: more extends specs
  packages/extends/src/__tests__/copy.test.ts
  packages/extends/src/__tests__/createRewardedVideoAd.test.ts
  packages/extends/src/__tests__/go.test.ts
  packages/extends/src/__tests__/scene.test.ts
  packages/jest/config.js
Due: extends

test: extends specs
  packages/extends/src/__tests__/shareMenu.test.ts
  packages/extends/src/__tests__/subscription.test.ts
  packages/extends/src/__tests__/toast.test.ts
Due: extends

fix(extends): fix request invoke `Taro.request` with clean requestOptions by `omit`
  packages/extends/src/__tests__/__snapshots__/request.test.ts.snap
  packages/extends/src/__tests__/request.test.ts
  packages/extends/src/request/Request.ts
  packages/extends/src/request/utils.ts
Due: extends

test: components
  packages/components/src/__tests__/__debugger__/__snapshots__/ui.test.tsx.snap
  packages/components/src/__tests__/__debugger__/helper.test.ts
  packages/components/src/__tests__/__debugger__/hooks.test.ts
  packages/components/src/__tests__/__debugger__/index.test.ts
  packages/components/src/__tests__/__debugger__/ui.test.tsx
  packages/components/src/__tests__/__portal__/mount-portal-thrown.test.tsx
  packages/components/src/__tests__/__portal__/mount-portal.test.tsx
  packages/components/src/__tests__/__snapshots__/share.test.tsx.snap
  packages/components/src/__tests__/modal.test.tsx
  packages/components/src/__tests__/portal.test.tsx
  packages/components/src/__tests__/share.test.tsx
Due: components

test: store specs
  packages/store/jest.config.js
  packages/store/package.json
  packages/store/src/__tests__/StateStorageImpl.test.ts
  packages/store/src/__tests__/combineStore.test.ts
  packages/store/src/__tests__/createPersistStore.test.ts
  packages/store/src/__tests__/createStore.test.ts
  pnpm-lock.yaml
Due: store

fix(hooks): remove import Taro namespace
  packages/hooks/src/index.ts
  packages/hooks/src/useAppHide.ts
  packages/hooks/src/useAppShow.ts
  packages/hooks/src/useCountdown.ts
  packages/hooks/src/useDidScan.ts
Due: hooks

fix(hooks): fix `useInterval` named export
  .eslintrc.js
  packages/hooks/jest.config.js
  packages/hooks/package.json
  packages/hooks/src/__tests__/createEventListener.test.ts
  packages/hooks/src/__tests__/useAppHide.test.ts
  packages/hooks/src/__tests__/useAppRoute.test.ts
  packages/hooks/src/__tests__/useAppRouteDone.test.ts
  packages/hooks/src/__tests__/useAppScene.test.ts
  packages/hooks/src/__tests__/useAppShow.test.ts
  packages/hooks/src/__tests__/useBoolean.test.ts
  packages/hooks/src/__tests__/useCountdown.test.ts
  packages/hooks/src/__tests__/useDidScan.test.ts
  packages/hooks/src/__tests__/useInterval.test.ts
  packages/hooks/src/__tests__/useLatest.test.ts
  packages/hooks/src/__tests__/useMap.test.ts
  packages/hooks/src/__tests__/useMemoizedFn.test.ts
  packages/hooks/src/__tests__/useMount.test.ts
  packages/hooks/src/__tests__/useQuery.test.ts
  packages/hooks/src/__tests__/useRouter.test.ts
  packages/hooks/src/__tests__/useSet.test.ts
  packages/hooks/src/__tests__/useStorage.test.ts
  packages/hooks/src/__tests__/useTaroId.test.ts
  packages/hooks/src/__tests__/useThrottleFn.test.ts
  packages/hooks/src/__tests__/useToggle.test.ts
  packages/hooks/src/__tests__/useUnmount.test.ts
  packages/hooks/src/__tests__/useUpdate.test.ts
  packages/hooks/src/__tests__/useUpdateEffect.test.ts
  packages/hooks/src/useInterval.ts
  packages/jest/config.js
  packages/jest/config/globals.js
  packages/jest/config/setupAfterEnv.js
  pnpm-lock.yaml
Due: hooks

chore(jest): jest config function
  packages/components/jest.config.js
  packages/extends/jest.config.js
  packages/helper/jest.config.js
  packages/helper/package.json
  packages/hooks/jest.config.js
  packages/jest/config.js
  packages/shared/jest.config.js
  packages/store/jest.config.js
  pnpm-lock.yaml
Due: components, extends, helper, hooks, shared, store

fix(helper): fix `ConfigChain`
  packages/helper/jest.config.js
  packages/helper/runtime/__tests__/__snapshots__/configChain.test.ts.snap
  packages/helper/runtime/__tests__/configChain.test.ts
  packages/helper/runtime/__tests__/defineRouteConfig.test.ts
  packages/helper/runtime/config-chain/AbstractChain.ts
  packages/helper/runtime/config-chain/ConfigChain.ts
  packages/helper/runtime/config-chain/PluginChain.ts
  packages/helper/runtime/config-chain/SubPackageChain.ts
  packages/helper/runtime/config-chain/WeChatChain.ts
  packages/helper/runtime/config-chain/WechatChain.ts
  packages/helper/runtime/config-chain/index.ts
  packages/helper/tsconfig.json
Due: helper
