Repository rexerwang/min-kit: changes, and which Codecov flags are due for each by the changed paths.
All: components, extends, helper, hooks, shared, store

codecov.yml:

component_management:
  individual_components:
    - component_id: components # this is an identifier that should not be changed
      name: components # this is a display name, and can be changed freely
      paths:
        - packages/components/
    - component_id: extends
      name: extends
      paths:
        - packages/extends/
    - component_id: helper
      name: helper
      paths:
        - packages/helper/
    - component_id: hooks
      name: hooks
      paths:
        - packages/hooks/
    - component_id: shared
      name: shared
      paths:
        - packages/shared/
    - component_id: store
      name: store
      paths:
        - packages/store/

chore(hooks): rm `useCountDown`
  packages/hooks/src/useCountDown.ts
Due: hooks

docs: readme
  README.md
  packages/components/README.md
  packages/extends/README.md
  packages/helper/README.md
  packages/hooks/README.md
  packages/shared/README.md
  packages/store/README.md
Due: components, extends, helper, hooks, shared, store

chore(release): v0.5.3
  package.json
  packages/components/package.json
  packages/example/package.json
  packages/extends/package.json
  packages/helper/package.json
  packages/hooks/package.json
  packages/jest/package.json
  packages/shared/package.json
  packages/store/package.json
Due: components, extends, helper, hooks, shared, store

docs: tarojs link
  README.md
  packages/components/README.md
  packages/extends/README.md
  packages/helper/README.md
  packages/hooks/README.md
  packages/shared/README.md
  packages/store/README.md
Due: components, extends, helper, hooks, shared, store

fix(jest): fix merge jest config
  packages/jest/config.js
Due: none

chore: docs & package.json
  packages/components/README.md
  packages/extends/README.md
  packages/extends/package.json
  packages/helper/README.md
  packages/helper/package.json
  packages/hooks/README.md
  packages/shared/README.md
  packages/shared/package.json
  packages/store/README.md
Due: components, extends, helper, hooks, shared, store

chore(vscode): setup `css.customData` for tailwind directives
  .vscode/settings.json
  .vscode/tailwind.json
Due: none

fix(components): fix displayName & import types
  packages/components/src/debugger/ui/panel/AppPanel.tsx
  packages/components/src/debugger/ui/panel/NetworkPanel.tsx
  packages/components/src/debugger/ui/panel/StatusPanel.tsx
  packages/components/src/debugger/ui/panel/index.tsx
  packages/components/src/gesture/gesture.ts
  packages/components/src/gesture/index.tsx
  packages/components/src/icon/index.tsx
  packages/components/src/modal/confirm.tsx
  packages/components/src/modal/drawer.tsx
Due: components

chore: tsconfig
  packages/example/tsconfig.json
  tsconfig.root.json
Due: none

test: fix spyOnConsole
  packages/extends/src/__tests__/copy.test.ts
  packages/extends/src/__tests__/request.test.ts
  packages/extends/src/__tests__/scene.test.ts
  packages/jest/utils.ts
  packages/shared/src/__tests__/attempt.test.ts
Due: extends, shared

feat(example): store example
  packages/example/src/app.config.ts
  packages/example/src/app.route.ts
  packages/example/src/app.ts
  packages/example/src/assets/polyfill/index.ts
  packages/example/src/pkg-store/pages/index/demo/counter.tsx
  packages/example/src/pkg-store/pages/index/demo/snippets.ts
  packages/example/src/pkg-store/pages/index/index.tsx
Due: none

chore(example): ap.config
  packages/example/src/app.config.ts
Due: none

chore(example): logger example
  packages/example/src/pkg-extends/pages/logger/demos/index.ts
Due: none

test: extends specs
  packages/extends/src/__tests__/__snapshots__/request.test.ts.snap
  packages/extends/src/__tests__/copy.test.ts
  packages/extends/src/__tests__/createRewardedVideoAd.test.ts
  packages/extends/src/__tests__/logger.test.ts
  packages/extends/src/__tests__/request.test.ts
  packages/extends/src/__tests__/shareMenu.test.ts
  packages/extends/src/__tests__/subscription.test.ts
  packages/extends/src/__tests__/toast.test.ts
Due: extends

chore: ci & config
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: none

ci: test build example
  .github/workflows/ci.yml
Due: none

chore(example): build config
  packages/example/.gitignore
  packages/example/config/mode/dev.ts
  packages/example/config/mode/prod.ts
  packages/example/config/platform/alipay.ts
  packages/example/config/platform/tt.ts
Due: none

ci: skip tt build test
  .github/workflows/ci.yml
Due: none

ci: dependabot
  .github/dependabot.yml
Due: none

ci: lint tsc
  .github/workflows/ci.yml
Due: none

fix(helper): fix `defineUserConfig` options & typings
  packages/helper/compile/defineUserConfig.ts
  packages/helper/compile/types.ts
Due: helper

chore(example): taro config
  packages/example/config/index.ts
Due: none

refactor(components): individual RootPortal export
  packages/components/src/portal/RootPortal.ts
  packages/components/src/portal/index.tsx
Due: components

fix(example): replace RootPortal via babel when compile on tt
  .github/workflows/ci.yml
  packages/example/config/babel/babel-plugin-transform-root-portal.js
  packages/example/config/index.ts
  packages/example/package.json
  pnpm-lock.yaml
Due: none

fix(hooks): fix catch exception when delegating onAppRoute(Done) event
  packages/hooks/src/__tests__/useAppRoute.test.ts
  packages/hooks/src/__tests__/useAppRouteDone.test.ts
  packages/hooks/src/useAppRoute.ts
  packages/hooks/src/useAppRouteDone.ts
Due: hooks

chore(release): v0.5.4
  package.json
  packages/components/package.json
  packages/example/package.json
  packages/extends/package.json
  packages/helper/package.json
  packages/hooks/package.json
  packages/jest/package.json
  packages/shared/package.json
  packages/store/package.json
Due: components, extends, helper, hooks, shared, store

ci: fix publish with provenance by pnpm
  .github/workflows/release.yml
Due: none

chore(helper): npm files
  packages/helper/package.json
Due: helper

chore(jest): jest config
  packages/jest/config/fixtures.js
  packages/jest/config/globals.js
  packages/jest/config/setupAfterEnv.js
Due: none

feat(components): add `id` of the mounted portal to the return values of `mountPortal` and `Modal.with`
  packages/components/src/__tests__/modal.test.tsx
  packages/components/src/modal/types.ts
  packages/components/src/modal/with.tsx
  packages/components/src/portal/RootPortal.ts
  packages/components/src/portal/index.tsx
Due: components

feat(helper): add `babel-plugin-replace-components`
  packages/helper/build.config.ts
  packages/helper/compile/babel-plugin-replace-components.ts
  packages/helper/compile/defineUserConfig.ts
  packages/helper/compile/taro-plugin-prebuild.ts
  packages/helper/package.json
  pnpm-lock.yaml
Due: helper

chore(example): setup babel-plugin-replace-components
  packages/example/config/babel/babel-plugin-transform-root-portal.js
  packages/example/config/index.ts
Due: none

chore(compile): logger exec message
  packages/helper/compile/UserConfigService.ts
Due: helper

refactor(store)!: rename `combineStore` to `select`
  packages/store/src/__tests__/select.test.ts
  packages/store/src/index.ts
  packages/store/src/select.ts
Due: store

refactor(example): select(store)
  packages/example/src/pkg-store/pages/index/demo/counter.tsx
  packages/example/src/pkg-store/pages/index/demo/snippets.ts
  packages/example/src/service/product/product.store.ts
Due: none

chore(release): v0.5.5
  package.json
  packages/components/package.json
  packages/example/package.json
  packages/extends/package.json
  packages/helper/package.json
  packages/hooks/package.json
  packages/jest/package.json
  packages/shared/package.json
  packages/store/package.json
Due: components, extends, helper, hooks, shared, store

chore: define `peerDependenciesMeta` in package.json
  packages/components/package.json
  packages/helper/package.json
Due: components, helper

refactor(helper)!: remove default enabled values of `defineUserConfig` options
  packages/helper/README.md
  packages/helper/compile/defineUserConfig.ts
  packages/helper/package.json
Due: helper

chore(deps): optimize postcss & tailwind
  package.json
  packages/components/package.json
  packages/example/package.json
  pnpm-lock.yaml
Due: components

chore(example): config with `defineUserConfig`
  packages/example/config/index.ts
Due: none
