Repository rexerwang/min-kit: changes, and which Codecov flags are due for each by the changed paths.
All: components, extends, helper, hooks, shared, store

chore(example): config/mode
  packages/example/config/mode/dev.ts
Due: none

build(components): add cssnano to minify css
  packages/components/package.json
  packages/components/postcss.config.js
  pnpm-lock.yaml
Due: components

chore(release): v0.5.6
  package.json
  packages/components/package.json
  packages/example/package.json
  packages/extends/package.json
  packages/helper/package.json
  packages/hooks/package.json
  packages/jest/package.json
  packages/shared/package.json
  packages/store/package.json
Due: components, extends, helper, hooks, shared, store

chore: dev script
  package.json
  packages/example/README.md
Due: none

chore(example): setup `babel-plugin-replace-taro-components`
  packages/example/config/index.ts
Due: none

ci: codecov
  .github/workflows/ci.yml
  codecov.yml
  packages/jest/config.js
Due: none

docs(readme): codecov badge with flags
  packages/components/README.md
  packages/extends/README.md
  packages/helper/README.md
  packages/hooks/README.md
  packages/shared/README.md
  packages/store/README.md
Due: components, extends, helper, hooks, shared, store

chore(helper): jest coverage exclude
  packages/helper/jest.config.js
Due: helper

chore: add `sideEffects` in package.json
  packages/components/package.json
  packages/extends/package.json
  packages/helper/package.json
  packages/hooks/package.json
  packages/shared/package.json
  packages/store/package.json
Due: components, extends, helper, hooks, shared, store

refactor(hooks)!: remove `useNodeContext` (useless)
  packages/hooks/jest.config.js
  packages/hooks/src/index.ts
  packages/hooks/src/useNodeContext.ts
Due: hooks

refactor(extends)!: remove `selectNodeContext` (useless)
  packages/extends/jest.config.js
  packages/extends/src/index.ts
  packages/extends/src/selector.ts
Due: extends

test: add debugger specs & jest config
  packages/components/jest.config.js
  packages/components/src/__tests__/__debugger__/AppPanel.test.tsx
  packages/components/src/__tests__/__debugger__/Debugger.test.tsx
  packages/components/src/__tests__/__debugger__/NetworkPanel.test.tsx
  packages/components/src/__tests__/__debugger__/Panel.test.tsx
  packages/components/src/__tests__/__debugger__/StatusPanel.test.tsx
  packages/components/src/__tests__/__debugger__/__snapshots__/Debugger.test.tsx.snap
  packages/components/src/__tests__/__debugger__/helper.test.ts
  packages/components/src/__tests__/__debugger__/index.test.ts
  packages/extends/jest.config.js
  packages/extends/src/__tests__/__snapshots__/systemInfo.test.ts.snap
  packages/extends/src/__tests__/config.test.ts
  packages/extends/src/__tests__/storage.test.ts
  packages/extends/src/__tests__/systemInfo.test.ts
  packages/jest/config.js
  packages/shared/jest.config.js
Due: components, extends, shared

chore(release): v0.5.7
  package.json
  packages/components/package.json
  packages/example/package.json
  packages/extends/package.json
  packages/helper/package.json
  packages/hooks/package.json
  packages/jest/package.json
  packages/shared/package.json
  packages/store/package.json
Due: components, extends, helper, hooks, shared, store

docs: helper readme
  packages/helper/README.md
Due: helper

fix(components): fix edit storage in AppPanel of debugger
  packages/components/src/debugger/ui/panel/AppPanel.tsx
Due: components

chore: eslint
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: none

build(examples): fix build scripts for examples
  .github/workflows/ci.yml
  scripts/example
  scripts/patch-template
  scripts/release-example
Due: none

fix(hooks): fix typings when using Taro namespace
  packages/hooks/src/useAppHide.ts
  packages/hooks/src/useAppShow.ts
Due: hooks

chore: scripts
  scripts/example
  scripts/release
Due: none

ci: lint
  .github/workflows/ci.yml
Due: none

chore(release): v0.5.8
  examples/app-min-kit/package.json
  package.json
  packages/components/package.json
  packages/extends/package.json
  packages/helper/package.json
  packages/hooks/package.json
  packages/jest/package.json
  packages/shared/package.json
  packages/store/package.json
Due: components, extends, helper, hooks, shared, store

chore(dev-deps): up @happy-dom/jest-environment from 13.10.3 to 13.1.4 and drop ts-node
  examples/app-min-kit/package.json
  packages/jest/package.json
  pnpm-lock.yaml
Due: none

test(components): update snapshot
  packages/components/src/__tests__/__debugger__/__snapshots__/Debugger.test.tsx.snap
Due: components

chore(dev-deps): up `@happy-dom/jest-environment` from 13.1.4 to 13.2.0
  packages/jest/package.json
  pnpm-lock.yaml
Due: none

chore(store)!: up `zustand` from 4.4.7 to 4.5.0
  packages/store/package.json
  pnpm-lock.yaml
Due: store

feat(extends): optimize logger report formatted outputs
  packages/extends/src/__tests__/logger.test.ts
  packages/extends/src/logger/Logger.ts
Due: extends

feat(extends): remove `RequestError` normalize request context object
  packages/extends/src/__tests__/logger.test.ts
  packages/extends/src/__tests__/request.test.ts
  packages/extends/src/logger/Logger.ts
  packages/extends/src/request/Request.ts
  packages/extends/src/request/RequestError.ts
Due: extends

chore(release): v0.5.9
  examples/app-min-kit/package.json
  package.json
  packages/components/package.json
  packages/extends/package.json
  packages/helper/package.json
  packages/hooks/package.json
  packages/jest/package.json
  packages/shared/package.json
  packages/store/package.json
Due: components, extends, helper, hooks, shared, store

ci: ignore release commit on main
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(extends): fix CurrentType
  packages/extends/src/current.ts
Due: extends

fix(extends): feedback reporter disabled by default of logger
  .gitignore
  packages/extends/src/__tests__/logger.test.ts
  packages/extends/src/logger/Logger.ts
Due: extends

fix(extends): fix logger.setOption
  packages/extends/src/logger/Logger.ts
Due: extends

fix(components): remove Drawer export
  packages/components/src/index.ts
Due: components

chore(components): mountPortal logging meta
  packages/components/src/portal/index.tsx
Due: components

fix(hooks): fix useDidScan types
  packages/hooks/src/useDidScan.ts
Due: hooks

chore(release): v0.5.10
  examples/app-min-kit/package.json
  package.json
  packages/components/package.json
  packages/extends/package.json
  packages/helper/package.json
  packages/hooks/package.json
  packages/jest/package.json
  packages/shared/package.json
  packages/store/package.json
Due: components, extends, helper, hooks, shared, store

Path conditions:
  components: any of: packages/components/
  extends: any of: packages/extends/
  helper: any of: packages/helper/
  hooks: any of: packages/hooks/
  shared: any of: packages/shared/
  store: any of: packages/store/
